In [3]:
%pip install faker

Collecting fakerNote: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\haihu\new\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\haihu\new\lib\site-packages)

  Downloading Faker-14.2.1-py3-none-any.whl (1.6 MB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\haihu\new\lib\site-packages (from faker) (3.7.4.3)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\haihu\new\lib\site-packages (from faker) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\haihu\new\lib\site-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-14.2.1

In [5]:
import pandas as pd
import numpy as np
import random
from faker import Faker

In [39]:

# Promotion logic and salary growth
min_sal, max_sal, min_service, _ = job_data[emp["Title"]]
perf = random.choices(performance_ratings, weights=[0.1, 0.2, 0.4, 0.2, 0.1])[0]
absences = np.random.poisson(3)
years_service = year - emp["StartYear"]
age = emp["StartAge"] + years_service

# Check for promotion
titles = departments[emp["Department"]]
if (
    perf >= 4 and absences <= 3 and emp["JobIndex"] < len(titles) - 1
):
    next_title = titles[emp["JobIndex"] + 1]
    required_service = job_data[next_title][2]
    if years_service >= required_service:
        emp["JobIndex"] += 1
        emp["Title"] = next_title

# Update salary with growth
emp["Salary"] = min(int(emp["Salary"] * random.uniform(1.03, 1.07)), max_sal)

def create_employee(emp_id, start_year):
    gender = random.choice(["Male", "Female"])
    first_name = fake.first_name_male() if gender == "Male" else fake.first_name_female()
    last_name = fake.last_name()
    name = f"{last_name}, {first_name}"
    state = random.choice(states)
    job_source = random.choice(job_sources)
    department = random.choice(list(departments.keys()))

    # Pick title based on years of experience
    eligible_titles = []
    for title in departments[department]:
        _, _, min_exp, max_exp = job_data[title]
        eligible_titles.append((title, min_exp, max_exp))
    
    # Choose title where the candidate qualifies
    title, min_exp, max_exp = random.choice(eligible_titles)
    years_exp = random.randint(min_exp, max_exp)
    title = next(t for t, mi, ma in eligible_titles if mi <= years_exp <= ma)

    min_sal, max_sal, _, _ = job_data[title]
    salary = random.randint(min_sal, max_sal)
    start_age = random.randint(22 + years_exp, 30 + years_exp)
    job_index = departments[department].index(title)

    return {
        "Name": name,
        "EmployeeID": f"{emp_id:05d}",
        "Gender": gender,
        "State": state,
        "JobSource": job_source,
        "Department": department,
        "Title": title,
        "JobIndex": job_index,
        "StartYear": start_year,
        "StartAge": start_age,
        "Salary": salary,
        "YearsExperience": years_exp,
        "Active": True
    }

In [43]:
df

,Name,EmployeeID,Gender,Salary,JobTitle,Department,State,Age,YearsOfService,JobSource,PerformanceRating,Absences,Year
0,"Hill, Jason",00001,Male,67062,IT Support,Information Technology,CA,24,0,Company Website,2,4,2021
1,"Mitchell, James",00002,Male,66188,Developer,Software Engineering,NC,25,0,Referral,5,1,2021
2,"Patterson, David",00003,Male,80000,Junior Developer,Software Engineering,GA,29,0,Recruiter,2,3,2021
3,"Russo, Erik",00004,Male,74710,Financial Analyst,Finance,CO,28,0,Recruiter,1,3,2021
4,"Berger, Vanessa",00005,Female,67202,IT Support,Information Technology,IL,25,0,Indeed,2,2,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"Leblanc, Brady",00290,Male,68760,Financial Analyst,Finance,WA,31,0,Referral,2,1,2025
996,"Smith, Jennifer",00291,Female,69260,Senior Analyst,Finance,FL,23,0,Referral,4,3,2025
997,"Orr, Andrew",00292,Male,60275,HR Specialist,Human Resources,NY,30,0,Recruiter,4,0,2025
998,"Powell, Gary",00293,Male,73077,Systems Analyst,Information Technology,NY,29,0,Company Website,5,3,2025
999,"Friedman, Jessica",00294,Female,72414,IT Support,Information Technology,CA,27,0,LinkedIn,3,3,2025

In [45]:
df.to_csv('Synthetic HR Data.csv')